.container{
    width: 1210px;
    margin: 0 auto;
  
}

.foods{
    width: 1100px;
    padding-top: 24px;
    padding-right: 38px;
    padding-left: 10px;
    background-color: #252836;
} 

.site-inner{
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-flex-start;

}

.sidebar{
    width: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0 24px 12px;
    background-color: #1F1D2B;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
.de{
    padding: 12px;
}

.sidebar-link-red{
    text-decoration: none;
    margin-bottom: 22px;
}

.sidebar-link{
    margin: 0;
    padding: 13px 24px 11px 12px;
    text-decoration: none;
    margin-bottom: 22px;
}

.sidebar-icon{
    padding: 18px;
}

/* .foods{
    width: 680px;
    padding-top: 24px;
    padding-right: 38px;
    padding-left: 10px;
    background-color: #252836;
} */

